h1{
    font-family: 'Sigmar One', cursive;
    font-size: 6rem;
    color: #04fb18;
    text-align: center;
    margin: 1;
    padding: 3rem;
    background-color: #000000;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p{
    font-family: 'Sigmar One', cursive;
    font-size: 2rem;
    margin-top: 300px ;
}