.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-family: cursive;
  font-size: 3rem;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  width: 430px;
  margin-left: 10px;
  margin-bottom: 10px;
  /* CSS 3 */
  box-shadow: 4px 4px 5px rgb(219, 214, 214);
}

img{
  width: 100%;
  height: auto;
  margin: 10px;
  /* CSS 3 */
  transition: all 1s;
}

img:hover{
  /* CSS 3 */
  transform: scale(1.1);
}