body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.todo-list {
  margin-top: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
}

.todo-item p {
  margin-left: 5px;
}

.todo-item.completed p {
  text-decoration: line-through;
}

form {
  display: flex;
  align-items: center;
}

input[type='text'] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: greenyellow;
  font-size: 1.2rem;
  border-bottom: 2px solid red;
  outline: none;
}

button {
  background-color: transparent;
  color: red;
  border: none;
  padding: 10px 15px;
  font-size: 1.2rem;
  cursor: pointer;
}
