body,
html {
  height: 100%;
  width: 100%;
  background: url(images/astronaut.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1 {
  color: #2a77c0;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;

}