
  /* Button */
  .button0 {
    width: auto;
    margin: auto;
    height: 2.75rem;
    min-width: 6.5rem;
    color: #030303cc;
    border-radius: 4px;
    background: #0091ff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 12px #03030350;
  }
  
  /* Loader */
  .loader {
    margin: auto;
    border: 4px solid #03030375;
    border-top: 4px solid #030303;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  